
.navbar{
    background-color: #f5eec2;
    box-shadow: #39395f 0px 3px 2px;
}

.navbar-brand h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    margin-top: 15px;
    color: #416a59;
}

.nav-link{
    text-align: center;
}

.nav-link span{
    color: #73a24e;
    font-size: 1.2em;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 800;
}

#red-list{
    color: red;
}

.nav-link:hover {
    background: #39395f;
}

#main-content{
    background-color: #f5eec2;
    padding-top: 125px;
}

#frame{
    box-shadow: #39395f 0px 5px 4px;
    width: 900px;
}

.page-content h2.para-heading{
    color: #416a59;
    margin-top: 60px;
    margin-bottom: 30px;
}

.page-content h3{
    color: #416a59;
    margin-top: 30px;
    margin-bottom: 15px;
}

.page-content p{
    color: #39395f;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: large;
}

.accordion-item{
    background-color: #f5eec2;
    box-shadow: #39395f 0 2px 2px 2px;
    margin-top: 30px;
}

.accordion-header button{
    background-color: #f5eec2;
}

.acc-heading{
    color: #416a59;
    font-family: 'Sofia Sans', sans-serif;
    font-size: x-large;
    font-weight: 600;
}

#iucn-heading{
    margin-top: 60px;
    margin-bottom: 30px;
    color: red;
}

.sub-heading{
    color: #416a59;
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (min-width: 992px) and (max-width: 1199px){
    .navbar-brand h1{
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.5em;
        font-weight: 500;
        color: #416a59;
    }
    #frame{
        box-shadow: #39395f 0px 5px 4px;
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .navbar-brand h1{
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.2em;
        font-weight: 500;
        color: #416a59;
    }
    #frame{
        box-shadow: #39395f 0px 5px 4px;
        width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .navbar-brand h1{
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.2em;
        font-weight: 500;
        color: #416a59;
    }
    #frame{
        box-shadow: #39395f 0px 5px 4px;
        width: 580px;
    }
}

@media (max-width: 575px){
    .navbar-brand h1{
        font-family: 'Alfa Slab One', cursive;
        font-size: 0.6em;
        font-weight: 500;
        color: #416a59;
    }
    #frame{
        box-shadow: #39395f 0px 5px 4px;
        width: 320px;
    }
}